/* >>>>>>>>>>PAGE LAYOUT START>>>>>>>>>> */
/* pg-lyt-body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* ||pg-lyt-container|| */
#pg-lyt-container {
    min-height: 100%;
    position: relative;
    background-color: black;
}

/* |||pg-lyt-body||| */
#pg-lyt-body {
    padding: 10px;
    padding-bottom: 70px;
}

/* |||pg-lyt-footer||| */
#pg-lyt-footer {
    position: absolute;
    width: 98%;
    bottom: 0;
    height: 70px;
    text-align: center;
    color: white;
}
/* <<<<<<<<<<PAGE LAYOUT END<<<<<<<<<< */

.featured-img {
    object-fit: contain;
    width: 100%;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-color: black;
}

.card {
    background: black;
    border-color: black;
}

.table-bg-change {
    background-color: black !important;
    width: 50%;
}

hr {
    display: block;
    border: 1px solid gray;
}

.hemisph-img {
    object-fit: contain;
    width: 85%;
}

#hr-footer {
    display: block;
    border: 3px solid orange;
}
