/* >>>>>>>>>>PAGE LAYOUT START>>>>>>>>>> */
/* pg-lyt-body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

/* ||pg-lyt-container|| */
#pg-lyt-container {
    min-height: 100%;
    position: relative;
    background-color: black;
}

/* |||pg-lyt-body||| */
#pg-lyt-body {
    padding: 10px;
    padding-bottom: 60px;

}

/* |||pg-lyt-footer||| */
#pg-lyt-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    text-align: center;
    color: white;
}
/* <<<<<<<<<<PAGE LAYOUT END<<<<<<<<<< */

.featured-img {
    object-fit: contain;
    width: 100%;
}

.jumbotron {
    background-image: url("./assets/images/banner.jpg");
    background-size: cover;
}

.mars-table {
    font-size: 10 px;
    background-color: black;
    color: black;
}

.dataframe {
    background-color: black;
}


hr {
    display: block;
    border: 1px solid gray;
}

.hemisph-img {
    object-fit: contain;
    width: 70%;

}

#hr-footer {
    display: block;
    border: 3px solid orange;
}
